$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$text-color-base: #444444;
$text-color-accent: #000000;
$text-color-accent-2: #111111;
$text-color-accent-3: #666666;
$text-color-accent-4: #222222;

$color-accent: #68b738;
$color-accent-transparent: rgba($color-accent, 0.85);
$color-contrast-text: #ffffff;
$color-bg-primary: #f2f2f2;
$color-bg-secondary: #eaeaea;

$tablet-width: 768px;
$desktop-width: 1440px;
