$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$text-color-base: #444444;
$text-color-accent: #000000;
$text-color-accent-2: #111111;
$text-color-accent-3: #666666;
$text-color-accent-4: #222222;

$color-accent: #68b738;
$color-accent-transparent: rgba($color-accent, 0.85);
$color-accent-2: #e6e6e6;
$color-accent-3: #d9d9d9;
$color-accent-4: #cdcdcd;
$color-accent-5: #ebebeb;
$color-accent-6: #5eaa2f;
$color-accent-7: #e7e7e7;
$color-contrast-text: #ffffff;
$color-bg-primary: #f2f2f2;
$color-bg-secondary: #eaeaea;
$color-accent-error:  #ff8282;

$tablet-width: 768px;
$desktop-width: 1440px;
