.address__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.address__title {
  font-size: 16px;
  line-height: calc(20/16);
  text-transform: uppercase;
  color: $text-color-accent-2;
}

.address__text {
  line-height: calc(20/14);
  color: $text-color-base;
}

.address_map-reserve-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .address__title {
    font-size: 20px;
    line-height: calc(26/20);
  }

  .address__text {
    font-size: 16px;
    line-height: calc(20/16);
    margin-left: auto;
  }
}
