.button {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: calc(20/16);
  text-transform: uppercase;
  color: $color-contrast-text;
  background-color: $color-accent;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: block;
  padding: 10px;

  &--base {
    font-size: 20px;
    line-height: calc(26/20);

    &:hover,
    &:focus-visible {
      background-color: $color-accent-6;
    }

    &:active {
      color: rgba($color-contrast-text, 0.3);
    }
  }

  &--primary {
    &:hover,
    &:focus-visible {
      background-color: $color-accent-6;
    }

    &:active {
      color: rgba($color-contrast-text, 0.3);
    }
  }

  &--secondary {
    color: $text-color-base;
    background-color: $color-bg-primary;

    &:hover,
    &:focus-visible {
      background-color: $color-accent-5;
    }

    &:active {
      background-color: $color-accent-3;
    }
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
