.button {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: calc(20/16);
  text-transform: uppercase;
  text-align: center;
  color: $color-contrast-text;
  background-color: $color-accent;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.button--base {
  font-size: 20px;
  line-height: calc(26/20);
}

.button--secondary {
  color: $text-color-base;
  background-color: $color-bg-primary;
}
