.card__link-title {
  text-decoration: none;
}

.card__title {
  font-size: 16px;
  line-height: calc(20/16);
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-accent-4;
}

.card__characteristic {
  font-size: 12px;
  line-height: calc(16/12);
}

@media (min-width: $tablet-width) {
  .card {
    min-height: 511px;
    background-image: linear-gradient($color-contrast-text 81px, $color-bg-primary 81px);
  }
}
