.header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  min-height: 65px;
}

.header__logo-image {
  margin-right: 46px;
  padding: 5px 10px 5px 0;
}

.header__logo-text {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.header__toggle {
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 35 0 40px;
    flex-wrap: nowrap;
  }

  .header__logo-image {
    margin-right: 13px;
    padding: 5px 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 59px;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 29px;
  }

  .header__logo-image {
    margin-right: 14px;
  }
}
