.intro {
  font-family: $font-secondary;
  background-color: $color-accent-transparent;
  background-image: linear-gradient($color-accent-transparent 60%, $color-contrast-text 60%), image-set("../images/intro-bg-licking-cat-mobile@1x.webp" 1x type("image/webp"), "../images/intro-bg-licking-cat-mobile@2x.webp" 2x type("image/webp")), linear-gradient(to right, #4e4d51 50%, #414045 50%);
  color: $color-contrast-text;
  background-repeat: no-repeat;
  background-size: contain, 490px 302px, contain;
  background-position: 50% 0;
  text-align: center;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 20px;
}

.intro__title {
  font-size: 36px;
  line-height: 1;
  font-weight: inherit;
}

.intro__slogan {
  line-height: 1;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;
}

.intro__button {
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: none;
    background-color: transparent;
  }

  .intro__wrapper {
    position: relative;
  }

  .intro__title {
    color: $text-color-accent;
    font-size: 60px;
    max-width: 420px;
    margin-left: 90px;
    margin-bottom: 40px;
    text-align: start;
  }

  .intro__slogan {
    color: $text-color-accent;
    font-size: 20px;
    max-width: 420px;
    margin: 0 auto 49px 90px;
    text-align: start;
  }

  .intro__picture {
    z-index: -1;
    position: absolute;
    bottom: 0;
  }

  .intro__button {
    max-width: 244px;
    margin: 0 0 506px 90px;
    font-size: 20px;
    line-height: calc(26/20);
    padding: 14px 10px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: 88px;
  }

  .intro::before {
    content: "";
    background-image: linear-gradient($color-accent-transparent, $color-accent-transparent), image-set("../images/intro-bg-licking-cat-desktop@1x.webp" 1x type("image/webp"), "../images/intro-bg-licking-cat-desktop@2x.webp" 2x type("image/webp")), linear-gradient(to right, #403f45, #403f45);
    display: block;
    width: 50%;
    height: 694px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    margin-left: 720px;
    right: 0;
  }

  .intro__wrapper {
    min-height: 545px;
    padding: 0;
  }

  .intro__title {
    margin-top: 81px;
    margin-left: 80px;
  }

  .intro__slogan {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .intro__picture {
    height: 499px;
    z-index: 1;
    top: 0;
    left: 447px;
  }

  .intro__button {
    max-width: 244px;
    margin-left: 80px;
    margin-bottom: auto;
  }
}
