.navigation--close {
  display: none;
}

.navigation {
  position: absolute;
  top: 65px;
}

@media (min-width: $tablet-width) {
  .navigation {
    margin-left: auto;
    position: static;
    max-width: 530px;
  }

  .navigation--close {
    display: block;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }

  .navigation__toggle {
    display: none;
  }
}
